/* Контейнер для выбранных заклинаний */
.selected-spells-container {
  min-width: 300px; /* Чтобы не раздувалось */
  flex-shrink: 0; /* Предотвращает сжатие */
  max-height: 90vh;
}

/* Основной контейнер */
.selected-spells {
  padding: 15px;
  border: 2px solid #ae0707;
  border-radius: 16px;
  background-color: #f9f9f9;
}

/* Список заклинаний */
.selected-spells ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 60vh; /* Ограничиваем рост списка */
  overflow-y: auto; /* Добавляем прокрутку */
}
/* Заголовок */
.selected-spells h2 {
  color: #ae0707;
  text-align: center;
  margin-bottom: 16px;
}

.selected-spells p {
  font-size: 16px;
  color: #666;
  text-align: center;
}

/* Элементы списка */
.spell-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ae0707;
}

.spell-item:last-child {
  border-bottom: none;
}

.spell-item span {
  font-size: 16px;
  color: #333;
}

/* Кнопка удаления заклинания (красный крестик) */
.remove-button {
  background: none;
  border: none;
  font-size: 18px;
  color: #ae0707;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
  padding: 4px;
  line-height: 1;
}

.remove-button:hover {
  color: #870505;
  transform: scale(1.2);
}

/* Контейнер для кнопок */
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

/* Общие стили для кнопок */
.reset-button,
.print-button,
.save-button {
  padding: 10px 20px;
  height: 60; /* Одинаковая высота для всех кнопок */
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Кнопка сброса */
.reset-button {
  background-color: #ae0707;
  color: #fff;
}

.reset-button:hover {
  background-color: #870505;
}

.reset-button:disabled {
  background-color: #d3d3d3; /* Серый цвет для неактивной кнопки */
  color: #a9a9a9;
  cursor: not-allowed;
}

/* Кнопка печати */
.print-button {
  background-color: #ae0707;
  color: #fff;
}

.print-button:hover {
  background-color: #870505;
}

.print-button:disabled {
  background-color: #d3d3d3; /* Серый цвет для неактивной кнопки */
  color: #a9a9a9;
  cursor: not-allowed;
}

/* Кнопка сохранения */
.save-button {
  background-color: #ae0707;
  color: white;
}

.save-button:hover {
  background-color: #870505;
}

.save-button.disabled,
.save-button:disabled {
  background-color: #d3d3d3; /* Серый цвет для неактивной кнопки */
  color: #a9a9a9;
  cursor: not-allowed;
}