.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #4f4a4a;
  padding: 20px;
  gap: 10px;
  position: relative;
}

.category {
  position: relative;
  flex: 1 1 calc(20% - 10px); /* Установлен фиксированный размер */
  box-sizing: border-box;
  text-align: center; /* Центровка текста */
}

.category__button {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category__button.active {
  background-color: #555;
}

.subcategories {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #4f4a4a;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Подкатегории в одну колонку */
}

.subcategory__button {
  background-color: #555;
  color: #fff;
  padding: 8px 12px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subcategory__button.active {
  background-color: #777;
}

.subcategory__button:hover {
  background-color: #666;
}