/* Общий контейнер для рендеринга PDF */
.print-spells {
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  font-family: Arial, sans-serif;
  width: 2480px; /* Ширина PDF */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

/* Главный контейнер, включающий все карточки */
.print-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 2480px;
  height: 3508px; /* Высота PDF для формата A4 */
  padding: 20px;
  box-sizing: border-box;
}

/* Контейнер для группы карточек */
.spell-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три карточки в ряд */
  gap: 20px; /* Расстояние между карточками */
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  box-sizing: border-box;
  page-break-after: always; /* Перенос на новую страницу для PDF */
}

/* Нумерация страниц */
.spell-card-print__page-indicator {
  text-align: right;
  font-size: 14px;
  color: #555;
}

/* Пустая карточка (заполнитель) */
.spell-placeholder {
  width: 750px;
  height: 1050px;
  border: 2px dashed #ccc;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #aaa;
  background: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}