.spell-card {
  position: relative;
  background: #f9f9f9;
  border: 2px solid #d4d4d4;
  border-radius: 16px;
  padding: 22px; /* Увеличены боковые отступы */
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 425px;
  min-height: 685px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-width 0.2s ease;
}

.spell-card.selected {
  border-color: #ae0707;
}

.spell-card__header {
  text-align: center;
  margin-bottom: 8px;
}

.spell-card__header h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 4px;
}

.spell-card__header p {
  font-size: 16px;
  color: #777;
  font-style: italic;
  margin: 3px;
}

.spell-card__mini-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  font-size: 14px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
}

.spell-card__mini-table div {
  padding: 8px;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.spell-card__mini-table div > span {
  margin-top: 4px;
}

.spell-card__mini-table div span.material-components {
  font-size: 12px;
}

.spell-card__mini-table div:last-child {
  border-bottom: none;
}

.spell-card__mini-table div:nth-child(2n) {
  border-left: 1px solid #d4d4d4;
}

.spell-card__description {
  margin-top: 16px;
  font-size: 16px;
  color: #444;
  line-height: 1.5;
  flex-grow: 1;
}

.spell-card__higher-level {
  font-size: 16px;
  font-style: italic;
  color: #555;
  margin-bottom: 9px;
}

.spell-card__footer {
  position: relative;
  height: 50px;
}

.spell-card__nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ae0707;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.spell-card__nav-button:hover {
  background: #880505;
}

.spell-card__nav-button:disabled {
  background: #d4d4d4;
  cursor: not-allowed;
}

.spell-card__nav-button:first-of-type {
  left: 10px;
}

.spell-card__nav-button:last-of-type {
  right: 10px;
}

.spell-card__select-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ae0707;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: auto;
  max-width: 250px;
}

.spell-card__select-button:hover {
  background: #880505;
}

.spell-card__select-button.selected {
  background: #555;
}

.spell-card__select-button.selected:hover {
  background: #333;
}
