.filters-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  border: 2px solid #ae0707;
  border-radius: 16px;
  background-color: #fff5f5;
  max-width: 300px;
}

.filters-container label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #ae0707;
  font-size: 14px;
}

.checkbox-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #ae0707;
  font-size: 14px;
}

.filters-container select,
.filters-container .checkbox-button {
  margin-top: 8px;
  padding: 8px 16px;
  border: 1px solid #ae0707;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.filters-container .checkbox-button {
  width: 20px;
  height: 20px;
  display: inline-block;
  transition: all 0.3s ease;
  background-color: #fff5f5;
}

.filters-container .checkbox-button.checked {
  background-color: #ae0707;
}

.filters-container .checkbox-button:hover {
  background-color: #870505;
}

/* Поиск по названию с кнопкой сброса */
.input-with-reset {
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-reset input {
  flex: 1;
  padding: 8px 16px;
  border: 1px solid #ae0707;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  outline: none;
}

.reset-text-button {
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  font-size: 16px;
  color: #ae0707;
  cursor: pointer;
  padding: 0;
}

.reset-text-button:hover {
  color: #870505;
}

.components-filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  border: 2px solid #ae0707;
  border-radius: 16px;
  background-color: #fff5f5;
  max-width: 300px;
}

.components-filters label {
  font-weight: bold;
  color: #ae0707;
  font-size: 14px;
}

.components-checkboxes {
  display: flex;
  gap: 8px;
}

.components-checkboxes label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  color: #ae0707;
  font-size: 14px;
  cursor: pointer;
}

.components-checkboxes input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #ae0707;
  border-radius: 4px;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.components-checkboxes input[type="checkbox"]:checked {
  background-color: #ae0707;
}

.components-checkboxes input[type="checkbox"]:hover {
  background-color: #870505;
}



/* Кнопка сброса фильтров */
.reset-filter {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: #ae0707;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-filter:hover {
  background-color: #870505;
}