.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
















.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #333;
  color: white;
}

.categories {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f4f4f4;
}

.worksreen {
  flex-grow: 1;
  padding: 20px;
}

.footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
}
